package main

import (
	"time"
)

const (
	// host
	host = "localhost"

	// 主程序的端口号
	mainPort = 8180

	// 配置单元测试使用的端口号
	processPort = 8181

	// 进程自动关闭的时间间隔
	closeDuration = time.Minute * 10

	// 操作动作
	actionStart   = "start"   // 启动进程
	actionStop    = "stop"    // 停止进程
	actionShow    = "show"    // 展示数据
	actionRestart = "restart" // 重启进程
)

type Project struct {
	Name string // 项目名称
	Path string // 项目路径
}

var projects = []Project{
	{
		Name: "tools-float",
		Path: "/var/www/golang/src/github.com/ibbd-dev/go-tools/float",
	},
}
