package main

import (
	"time"
)

const (
	// 配置单元测试使用的host及端口号
	processHost = "localhost"
	processPort = 8180

	// 进程自动关闭的时间间隔
	closeDuration = time.Minute * 10

	// 操作动作
	actionStart   = "start"   // 启动进程
	actionStop    = "stop"    // 停止进程
	actionShow    = "show"    // 展示数据
	actionRestart = "restart" // 重启进程
)

type Project struct {
	name string // 项目名称
	path string // 项目路径
}

var projects = []Project{
	{
		name: "tools-float",
		path: "/var/www/golang/src/github.com/ibbd-dev/go-tools/float",
	},
}
