<html>
    <div><h1>启动项目</h1></div>
    <div>
        <ul>
        {{range $k, $v := .projects}}
            <li><a href="http://{{$.host}}:{{$.port}}/action/{{$v.Name}}/show?t={{$.time}}" target="_blank">{{$v.Name}}</a></li>
        {{end}}
        </ul>
    </div>
    <div>
        <p>注：按需启动相应的项目，点击之后会在新页面打开链接，这时应该能看到该项目的单元测试执行情况，但是如果没有，那可能是项目还没有启动完成，需要稍等或者多刷新几下。</p>
    </div>
</html>
